## Open Data Penelitian From CSV to EXCEL

In [5]:
#memasukan modul yang digunakan
import pandas as pd

In [6]:
#memasukan data 
data0 = pd.read_csv("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets3.csv")
data1 = pd.read_csv("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets6.csv")
data2 = pd.read_csv("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets9.csv")
data3 = pd.read_csv("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets11.csv")
data4 = pd.read_csv("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets12.csv")

In [7]:
#memeriksa apakah ada data missing value atau tidak
print(data0.isnull().any().any())
print(data1.isnull().any().any())
print(data2.isnull().any().any())
print(data3.isnull().any().any())
print(data4.isnull().any().any())

True
True
True
True
True

In [8]:
#mengeluarkan data yang kosong atau data missing value
data0_0 = data0.dropna()
data1_1 = data1.dropna()
data2_2 = data2.dropna()
data3_3 = data3.dropna()
data4_4 = data4.dropna()

In [9]:
#melihat panjang data 
print(len(data0))
print(len(data1))
print(len(data2))
print(len(data3))
print(len(data4))

76987
162608
21234
38696
64754

In [10]:
#menjumlahkan data 
total_data = len(data0) + len(data1) + len(data2) +len(data3) + len(data4)
total_data

364279

In [11]:
#melihat panjang data setelah data di dropna 
print(len(data0_0))
print(len(data1_1))
print(len(data2_2))
print(len(data3_3))
print(len(data4_4))

49426
101697
13765
24652
41973

In [12]:
#menjumlahkan data (dalam hal ini data yang memiliki lokasi) 
total_data_lokasi = len(data0_0) + len(data1_1) + len(data2_2) +len(data3_3) + len(data4_4)
total_data_lokasi

231513

In [13]:
#melihat total data (dalam hal ini total data tanpa lokasi)
total_data_tanpa_lokasi = total_data - total_data_lokasi
total_data_tanpa_lokasi

132766

In [14]:
#menggabungkan data dan menampilkannya 
datagabung = data0_0.append(data1_1 + data2_2 + data3_3 + data4_4)
datagabung.head()

,username,tweet,lat,lon,location
1,gembel68,RT @peni_me: Selamat pagi pak @jokowi mana inf...,,,Indonesia
2,HadiantoBroer,Pola omongan para menteri dua negara yg hampir...,,,"Jawa Barat, Indonesia"
4,Syamsud41732201,RT @Ain17310272: @NetizenTofa Anak saya suka b...,,,"Klaten, Jawa Tengah"
9,sonny_reudet,"RT @Gemacan70: ternyataaaaaaaaaaaaaaaa ,,sine...",,,NKRI Harga Mati
11,arjuna_wiwaha16,RT @elfizal: Ingatlah! Kekuasaan itu begitu ce...,,,solo-jogya

In [15]:
#melihat panjang data
len(datagabung)

170301

## CSV to Excel

In [16]:
#memasukan data dan memeriksa apakah ada missing value pada data 
data0 = pd.read_csv("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets3.csv")
print(data0.isnull().any().any())

True

In [19]:
#menghilangkan missing value dengan cara dropna 
data0_0 = data0.dropna()
data0_0.head()

,username,tweet,lat,lon,location
1,gembel68,RT @peni_me: Selamat pagi pak @jokowi mana inf...,,,Indonesia
2,HadiantoBroer,Pola omongan para menteri dua negara yg hampir...,,,"Jawa Barat, Indonesia"
4,Syamsud41732201,RT @Ain17310272: @NetizenTofa Anak saya suka b...,,,"Klaten, Jawa Tengah"
9,sonny_reudet,"RT @Gemacan70: ternyataaaaaaaaaaaaaaaa ,,sine...",,,NKRI Harga Mati
11,arjuna_wiwaha16,RT @elfizal: Ingatlah! Kekuasaan itu begitu ce...,,,solo-jogya

In [20]:
#melihat panjang data
print(len(data0))
print(len(data0_0))

76987
49426

#### Menyimpan data ke dalam bentuk Excel (xlsx)

In [21]:
data0_0.to_excel("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets3.xlsx")

In [22]:
data1_1.to_excel("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets6.xlsx")

In [23]:
data2_2.to_excel("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets9.xlsx")

In [24]:
data3_3.to_excel("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets11.xlsx")

In [25]:
data4_4.to_excel("D:/Data Penelitian/1. Data Hasil Crawling Tanpa Clean/Hasil_Tweets12.xlsx")

                                ##Semoga Bermanfaat
                                ##@Raspiani_